/*====thankyou.php styling====*/


body {
    font-family: 'Karma', serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f3ddb9;
}

.thankyou {
    height: 300px;
}

.thankyou p {
    font-size: 20px;
    font-family: 'Karma', serif;
    margin: 30px 0px 80px 10px;
}

.thankyou h2  {
    margin: 30px 5px 5px 5px;
    font-family: 'Karma', serif;
    font-size: 40px;
    font-weight: 800;
}


.thankyou-wrapper {
    padding: 10px;
    margin-bottom: 30px;
}


.thankyou {
    height: 300px;
}

.button-thankyou {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border: solid 1px #977360;
    /*background: #478dad;*/
    background: #bce8f1;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .3em;
    margin: -90px 25px 120px 15px;
}
    
.button-thankyou:hover {
    background: #f47c20;
    text-decoration: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.button-thankyou:active {
    position: relative;
    top: 1px;
    text-decoration: none;
}