<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>
	<body>
		<div id="background">
		<div class="container" id="walkyHeader">
			<div class="container">
				<h1>WalkyTalky</h1>
			</div>
		</div>
		
		<% include ../partials/nav.ejs %>
		
		<div class="container" id="references">
			<div class="modal">
				<h1>References</h1>			
				<p>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p> 
				<p>Abstract blue geometric background <a href="http://www.freepik.com">designed by starline / Freepik</a></p>
			</div>
		</div>
		</div>
		<script src="/scripts/clientLogin.js"></script>
	</body>
</html>